{% extends "index.html" %}
{% set active_page = "search" %}


{% block title %} Search {% endblock %}

{% block content %}

    <div class="row container d-flex justify-content-center">
        <form class="form-inline" action="/search" method="get">
            <input type="search" name="query" class="form-control" style="width: 500px;">
            <div class="input-group-append">
                <button type="submit" class="btn btn-dark rounded-0">Search</button>
            </div>
        </form>
        <br><br><br>

    <div class="container">
        {% for user in user_data %}
        <span>{{ user }}</span>
        {% endfor %}
    </div>

{% endblock %}