{% extends "index.html" %}
{% set active_page = "home" %}


{% block title %} Home {% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container text-center">
            <h1>Hello from home!</h1>
            <p>вот здесь будет описание проекта со всякими приколюхами, йоу</p>
            <a href="/search" class="btn btn-dark rounded-0" role="button">start searching</a>
        </div>
    </div>
    <div class="container">
        <ul class="nav nav-pills d-flex justify-content-center">
            <li class="nav-item pill">
                <a class="nav-link active" data-toggle="tab" href="#tab1">find team</a>
            </li>
            <li class="nav-item pill">
                <a class="nav-link" data-toggle="tab" href="#tab2">find player</a>
            </li>
            <li class="nav-item pill">
                <a class="nav-link" data-toggle="tab" href="#tab3">find party</a>
            </li>
        </ul>

        <div class="tab-content mt-3">
            <div class="tab-pane fade show active" id="tab1" role="tabpanel">tab 1 content...</div>
            <div class="tab-pane fade" id="tab2" role="tabpanel">tab 2 content..</div>
            <div class="tab-pane fade" id="tab3" role="tabpanel">tab 3 content...</div>
        </div>
    </div>
{% endblock %}
