{% extends "index.html" %}
{% set active_page = "profile" %}
{% from "includes/_formhelpers.html" import print_flashes %}
{% from "includes/_formhelpers.html" import render_field %}

{% block title %} Profile {% endblock %}

{% block content %}

<div class="row" style="margin-top: 80px;">
    <!--ав+био-->
    <div class="col-2">

        <!--аватар-->
        <div class="container">
            <div class="avatar-upload">
                <div class="avatar-edit">
                    <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                    <label for="imageUpload"></label>
                </div>
                <div class="avatar-preview">
                    <div id="imagePreview" style="background-image: url(https://i-h1.pinimg.com/564x/57/f0/0c/57f00c73f1b91cb2d3f946f6497bb5d6.jpg);">
                    </div>
                </div>
            </div>
        </div>

        <script>
            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function (e) {
                        $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                        $('#imagePreview').hide();
                        $('#imagePreview').fadeIn(650);
                    };
                    reader.readAsDataURL(input.files[0]);
                }
            }
            $("#imageUpload").change(function () {
                readURL(this);
            });
            //# sourceURL=pen.js

        </script>
        <script defer src="https://use.fontawesome.com/releases/v5.5.0/js/all.js" integrity="sha384-GqVMZRt5Gn7tB9D9q7ONtcp4gtHIUEW/yG7h98J7IpE3kpi+srfFyyB/04OV6pG0" crossorigin="anonymous"></script>

        <!--био-->
        <div class="form-group">
          <label for="bio">About you:</label>
          <textarea class="form-control" rows="5" maxlength="150" id="bio"></textarea>
        </div>

    </div>

    <!--параметры-->
    <div class="col">
        {{ print_flashes() }}
        <form action="" id="profile_form" method="POST">
                {{ form.hidden_tag() }}

                {{ render_field(form.login, class="form-control") }}

                {{ render_field(form.steam_login, class="form-control") }}
    
                <div class="form-group">
                    {{ form.mmr.label }}
                    {{ form.mmr(class="form-control") }}
                </div>
    
                <div class="form-group">
                    {{ form.position.label }}
                    {{ form.position(class="form-control") }}
                </div>
    
                <div class="form-group">
                    {{ form.server.label }}
                    {{ form.server(class="form-control") }}
                </div>
    
                <div class="form-group">
                    {{ form.aim.label }}
                    {{ form.aim(class="form-control") }}
                </div>
                {{ form.submit(class="btn btn-dark rounded-0") }}

                <button type="button" class="btn btn-danger rounded-0" data-toggle="modal" data-target="#exampleModal">
                        Delete profile
                </button>

                 <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="exampleModalLabel">Delete confirmation</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
                            </div>
                            <div class="modal-body">Are you sure you want to permanently delete <mark class="bg-dark text-white">yourself</mark>?</div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-succes rounded-0" data-dismiss="modal">Close</button>
                              <a href="{{ url_for('delete_profile') }}" class="btn btn-danger rounded-0">Delete</a>
                            </div>
                          </div>
                        </div>
                </div>



        </form>
    </div>
</div>
{% endblock %}