{% extends "index.html" %}
{% set active_page = "search" %}

{% from "includes/_formhelpers.html" import print_flashes %}
{% from "includes/_formhelpers.html" import render_field %}



{% block title %} Search {% endblock %}

{% block content %}
    <form action="" method="POST">
        <div class="row justify-content-center ml-3" style="margin-top: 80px;">

            <div class="col form-group">
                {{ form.mmr(class="form-control") }}
            </div>

            <div class="col form-group">
                {{ form.position(class="form-control") }}
            </div>

            <div class="col form-group">
                {{ form.aim(class="form-control") }}
            </div>

            <div class="col-4 input-group" style="margin-top: -1em;">
                <div class="form-inline">
                    {{ form.hidden_tag() }}

                    {{ form.login_search(class="form-control", placeholder="type login") }}
                    <div class="input-group-append">
                        {{ form.search(class="btn btn-dark rounded-0")}}
                    </div>
                </div>
            </div>
    </form>



    </div>



    <div class="row container d-flex justify-content-center">
        <!-- kek -->
        <br><br><br>

        <div class="row container d-flex justify-content-center">
            {% if user_data %}
                {% for user in user_data %}
                    <div class="card ml-1" style="width: 18rem;">
                      <img class="card-img-top img-res" src="https://i-h1.pinimg.com/564x/57/f0/0c/57f00c73f1b91cb2d3f946f6497bb5d6.jpg" alt="Card image cap" >
                      <div class="card-body">
                        <h5 class="card-title">{{user.login}}</h5>
                        <!--<p class="card-text align-self-center bio-res">{{user.about}}.</p>-->
                      </div>
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">MMR: {{user.mmr}}</li>
                        <li class="list-group-item">AIM: {{user.aim}}</li>
                      </ul>
                      <div class="card-body">
                          <a href="#" class="card-link">steam profile</a>
                          <a href="#" class="card-link">send request</a>
                      </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>

    </div>

{% endblock %}